<ion-header style="text-align: center;">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dentais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let dental of lista">
      <ion-label>{{dental.nome}}</ion-label>
      <ion-button (click)="visualizar(dental)" color="tertiary" style="scroll-margin-top: 30px;" size="block">
        Visualizar
         
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="choose()">Anexar Currículo</ion-button>


</ion-content>