<ion-header style="text-align: center;">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dentais"></ion-back-button>
    </ion-buttons>
    <br>
    <ion-title  style="text-align: center;">Material das Dentais</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <div class="col-md-6 " id="imgion">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/xGWnGbb/Logo.png" alt="Logo"></a>
  </div>
  <ion-card-header style="text-align: center;" color="tertiary">
    <ion-card-title>Materiais das dentais</ion-card-title>
  </ion-card-header>
  <ion-list *ngIf="!materiais.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let material of materiais">
      <ion-item button [routerLink]="['/details', material.id]">
        <ion-avatar slot="start">
          <img [src]="material.picture">
        </ion-avatar>

        <ion-label>
          <ion-icon name="create"></ion-icon> {{ material.name }}
          <h3><ion-icon name="archive"></ion-icon> {{ material.description }}</h3>
          <h3><ion-icon name="calendar"></ion-icon> {{ material.createdAt | date: 'short' }}</h3>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="material.price">{{ material.price | currency: 'BRL' }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteMaterial(material.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        

        <ion-col size="12">
          <ion-button style="text-align: center;" routerLink="/details" expand="block">
            Adicionar Material
            <br>
            
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>