<ion-header style="text-align: center;">
  <ion-toolbar color="tertiary">
    <ion-title>Acesso Locate Dental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-md-6 " id="imgion">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/xGWnGbb/Logo.png" alt="Logo"></a>
  </div>
<br>
  <form [formGroup]="formGroup">
  
  <ion-item>
  <ion-label><ion-icon name="mail-open"></ion-icon> Email:</ion-label>
  <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label><ion-icon name="key"></ion-icon> Senha:</ion-label>
  <ion-input [type]="tipo ? 'text' : 'password'" formControlName="password"></ion-input>
  <button (click)="exibirOuOcultar()" ion-button item-right>
    <ion-icon [name]="tipo ? 'eye-off' : 'eye'"></ion-icon>
  </button>
  </ion-item> 
  <br>
  <ion-button (click)="autenticar()" color="tertiary" style="scroll-margin-top: 10px;" size="block">
    Entrar
     <br>
    <ion-icon name="log-in"></ion-icon>
  </ion-button>
  <br>
  <ion-col text-center>
    <button ion-button clear color="red" (click)="forgot()">
    <p>Esqueceu sua senha?</p>
    </button>
  </ion-col>
  <ion-col text-center>
    <button ion-button clear color="black" (click)="register()">
      <p>Quero me cadastrar</p>
    </button>
  </ion-col>
  </form>
</ion-content>